body{
    background: #fff333;
    text-align: center;
}

.ali{
    width: 300px;
}
.berzerk{
    width: 70px;
}

.p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    
    
}