@font-face {
	font-family: slash;
	src: url('slash.ttf');
}
.home {
	background-color: rgb(255,215,0);
}
.ali {
	font-size: 11px;
	font-weight: bolder;
}
.left {
	text-align: center;
}
.right {
	text-align: center;
	font-family: slash;
	font-size: 20px;
}
#by {
	font-weight: lighter;
	font-style: italic;
}
.redsokoto {
	margin-top: 40%;
}
#lotl {
	
}
#redsokoto {
	color: red;
}
#icon {
	padding: 5px;
}
.ad {
	margin-top: 25%;
}
.mdl-layout__header {
	background-color: rgb(225, 215, 0);
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
}
footer {
	margin-top: 15%;
}