body{
    background: rgb(255,215,0);

}

#left{
float: left;
width:40%;
font-family: sans-serif;
font-size: 14px;
padding: 10px;
  
}
.ali{
    width: 300px;
   
}

.berzerk{
    width: 100px;
    text-align: right;
}

.right{
  float:right;
width: 100px;

}
.redsokoto{
    width: 100px;
    
}
.p2{
    color: dimgray;
    font-family: slash;
}
